# GoRhanHee Kernel
CONFIG_LOCALVERSION="-PapaL3xa_Kernel"
CONFIG_LOCALVERSION_AUTO=n

# For KernelSU
CONFIG_OVERLAY_FS=y
CONFIG_KPROBES=n
CONFIG_HAVE_KPROBES=n

# For APatch or SukiSU
CONFIG_KPM=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y

# For Ramdisk (Magisk)
CONFIG_ANDROID_SAR_RAMDISK=y
CONFIG_ANDROID_BOOT_PARTITION="/dev/sda14"
